{% extends "base.html" %}

{% block content %}
    {% if not hide_form %}
        <div class="row">
            <div class="col-lg-8">

                <p class="text-danger">{{ msg }}</p>

                <form action="" method="POST">

                    {{ form.id }}


                    {{ form.csrf_token }}

                    <button class="btn btn-default btn-danger" type="submit">Delete</button>
                </form>
            </div>

            <div class="col-lg-4">

            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-12">
                <a href="/todo/" class="btn btn-default">Return to your Todos</a>
            </div>
        </div>

    {% endif %}

{% endblock %}